html, body {
  margin: 0;
  height: 100%;
}

.Game {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  background-color: salmon;
  justify-content: space-evenly;
}

@media screen and (orientation:portrait) {
  .Game {
      flex-direction: column;
  }
}

@media screen and (orientation:landscape) {
  .Game {
      flex-direction: row;
  }
}