.Board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.Cell {
    display: flex;
    align-items: center;
    border: 1px solid #E1E1E1;
    font-size: 15px;
    justify-content: center;
}

@media screen and (orientation:portrait) {
    .Board {
        height: 45vh;
        width: 45vh;
    }
}

@media screen and (orientation:landscape) {
    .Board {
        height: 45vw;
        width: 45vw;
    }
}