html, body {
    height: 100%;
    margin: 0;
}

.Board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding: 2%;
}

.Cell {
    display: flex;
    align-items: center;
    border: 1px solid #E1E1E1;
    font-size: 15px;
    justify-content: center;
}

@media screen and (orientation:portrait) {
    .Board {
        height: 50vh;
        width: 50vh;
    }
}

@media screen and (orientation:landscape) {
    .Board {
        height: 50vw;
        width: 50vw;
    }
}