* {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  background-color: salmon;
  justify-content: space-evenly;
}

@media screen and (orientation:portrait) {
  .App {
      flex-direction: column;
  }
}

@media screen and (orientation:landscape) {
  .App {
      flex-direction: row;
  }
}